<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Prediction - Breast Cancer</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    <!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">Disease Prediction</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'home' or request.endpoint == 'hme' %}active{% endif %}" aria-current="page" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'BreastCancer' %}active{% endif %}" href="{{ url_for('BreastCancer') }}">Breast Cancer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'Covid19' %}active{% endif %}" href="{{ url_for('Covid19') }}">Covid-19</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'Diabetes' %}active{% endif %}" href="{{ url_for('Diabetes') }}">Diabetes</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    
    

    <!-- Main Content -->
    <div class="cont">
        <h1>Predicting Breast Cancer</h1>
        <form class="small">
            <div class="mb-3">
                <label for="ClumpThickness" class="form-label">Clump Thickness:</label>
                <input type="number" class="form-control" id="ClumpThickness" name="ClumpThickness" placeholder="Enter clump thickness" required>
            </div>
            <div class="mb-3">
                <label for="UniformCellSize" class="form-label">Uniform Cell Size:</label>
                <input type="number" class="form-control" id="UniformCellSize" name="UniformCellSize" placeholder="Enter uniform cell size" required>
            </div>
            <div class="mb-3">
                <label for="UniformCellShape" class="form-label">Uniform Cell Shape:</label>
                <input type="number" class="form-control" id="UniformCellShape" name="UniformCellShape" placeholder="Enter uniform cell shape" required>
            </div>
            <div class="mb-3">
                <label for="MarginalAdhesion" class="form-label">Marginal Adhesion:</label>
                <input type="number" class="form-control" id="MarginalAdhesion" name="MarginalAdhesion" placeholder="Enter marginal adhesion" required>
            </div>
            <div class="mb-3">
                <label for="SingleEpithelialSize" class="form-label">Single Epithelial Size:</label>
                <input type="number" class="form-control" id="SingleEpithelialSize" name="SingleEpithelialSize" placeholder="Enter single epithelial size" required>
            </div>
            <div class="mb-3">
                <label for="BareNuclei" class="form-label">Bare Nuclei:</label>
                <input type="number" class="form-control" id="BareNuclei" name="BareNuclei" placeholder="Enter bare nuclei" required>
            </div>
            <div class="mb-3">
                <label for="BlandChromatin" class="form-label">Bland Chromatin:</label>
                <input type="number" class="form-control" id="BlandChromatin" name="BlandChromatin" placeholder="Enter bland chromatin" required>
            </div>
            <div class="mb-3">
                <label for="NormalNucleoli" class="form-label">Normal Nucleoli:</label>
                <input type="number" class="form-control" id="NormalNucleoli" name="NormalNucleoli" placeholder="Enter normal nucleoli" required>
            </div>
            <div class="mb-3">
                <label for="mitoses" class="form-label">Mitoses:</label>
                <input type="number" class="form-control" id="mitoses" name="mitoses" placeholder="Enter mitoses" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYQ4EN2u5pupyn7EkKtLkpE04IlW/+OHI5O/ndbKFm0Rb/ks0xN0BO+" crossorigin="anonymous"></script>
</body>
</html>
